{# home.html #}
{# vim: set ts=2 sw=2 noai syntax=jinja: #}
{% extends "layout.html" %}

{% block title %}{{ _("Rock Climbing") }} &gt; {{ _("Home") }}{% endblock %}

{% block content %}

	<div class="category-overview">

		<div class="row-fluid">

			<div class="span4">

				<img src="http://cambelt.co/300x200"">
				<h2>{{ _("Latest gear") }}</h2>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>{{ _("Manufacturer") }}</th>
							<th>{{ _("Name") }}</th>
							<th>{{ _("Date added") }}</th>
						</tr>
					</thead>
					<tbody>
						{% for item in latest_gear %}
							<tr>
								<td>{{ item.manufacturer }}</td>
								<td>{{ item.name }}</td>
								<td>{{ item.date_added.strftime("%Y-%m-%d") }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">
									<span class="no-items">{{ _("No gear added") }}</span>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="{{ url_for("gear.index") }}">{{ _("View more gear") }} &raquo;</a>

			</div> {# end latest gear #}

			<div class="span4">

				<img src="http://cambelt.co/300x200"">
				<h2>{{ _("Latest blog posts") }}</h2>
				<ul class="unstyled">
					{% for item in latest_posts %}
						<li>{{ item.title }} in <span class="post-category">{{ item.category }}</span></li>
					{% else %}
						<li><span class="no-items">{{ _("No tips added") }}</span></li>
					{% endfor %}
				</ul>
				<a href="{{ url_for("blog.index") }}">{{ _("View more blog posts") }} &raquo;</a>

			</div> {# end latest blog posts #}

			<div class="span4">

				<img src="http://cambelt.co/300x200"">
				<h2>{{ _("Latest routes") }}</h2>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>{{ _("Name") }}</th>
							<th>{{ _("Location") }}</th>
							<th>{{ _("Date added") }}</th>
						</tr>
					</thead>
					<tbody>
						{% for item in latest_routes %}
							<tr>
								<td>{{ item.name }}</td>
								<td>{{ item.location }}</td>
								<td>{{ item.date_added.strftime("%Y-%m-%d") }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">
									<span class="no-items">{{ _("No routes added") }}</span>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="#">{{ _("View more routes") }} &raquo;</a>

			</div> {# end latest routes #}

		</div> {# end .row-fluid #}

	</div> {# end .category-overview #}

{% endblock %}
