// ==================================================
// Buttons
// ==================================================

@mixin button($bg-color: $blue, $color: $white) {
	position: relative;
	width: 100%;
	display: block; // needed for anchors
	text-align: center;
	vertical-align: middle;
	text-shadow: 0 0 2px darken($bg-color, 15);
	text-decoration: none;
	outline: none;
	font-family: $helvetica;
	font-size: 14px;
	font-weight: bold;
	line-height: 20/14;

	// Main styling
	padding: 6px 14px;
	margin: 10px 0;
	border-radius: $border-radius;
	border: 1px solid lighten($bg-color, 5);
	background-color: $bg-color;
	color: $color;
	transition: all .1s;
	box-shadow: 0px 4px 0px darken($bg-color, 15);

	&:hover {
		color: $color;
		background-color: lighten($bg-color, 3);
	}
	&:active {
		box-shadow: 0px 2px 0px darken($bg-color, 15);
		position: relative;
		top: 2px;
	}
}

input[type="button"],
button {
	@include button;
}

input[type="submit"] {
	@include button($green);

	&[data-action="retire"] {
		@include button($orange);
	}
	&[data-action="delete"] {
		@include button($red);
	}
}

input[type="reset"] {
	@include button($red);
}

