// ==================================================
// Forms
// ==================================================

select {
	-webkit-appearance: listbox;
}

input[type=text],
input[type=number],
input[type=search],  // FIXME type=search with width=100% behaves wierd!
input[type=email],
input[type=url],
input[type=password],
select,
textarea {
	border: none;
	border-bottom: 2px solid $input-border-color;
	background-color: $input-bg-color;
	border-radius: 0; //$border-radius;
	padding: $padding;
	width: 100%;
	outline: none;
}
