// ==================================================
// Forms
// ==================================================

select {
	-webkit-appearance: listbox;
}

input[type=text],
input[type=number],
input[type=search],  // FIXME type=search with width=100% behaves wierd!
input[type=email],
input[type=url],
select,
textarea {
	border: 1px solid $input-border-color;
	background-color: $input-bg-color;
	border-radius: $border-radius;
	padding: $padding;
	width: 100%;
}
