@import "neat/neat-helpers";

$grid-columns: 12;

$mobile-landscape: new-breakpoint(min-width 468px);
$tablet:           new-breakpoint(min-width 768px);
$laptop:           new-breakpoint(min-width 960px);
$desktop:          new-breakpoint(min-width 1144px);
