// ==================================================
// Labels
// ==================================================

@mixin label-variant($bg-color: #777, $color: $white) {
	background-color: $bg-color;
	color: $color;
	text-shadow: 0 0 2px darken($bg-color, 20);
}

.label {
	padding: em(2) em(4);
	font-family: $font-family-sans;
	white-space: nowrap;
	@include label-variant;

	&[data-state="new"] {
		@include label-variant($green);
	}
	&[data-state="in use"] {
		@include label-variant($blue);
	}
	&[data-state="retired"] {
		@include label-variant($red);
	}
	&[data-state="lost"] {
		@include label-variant($orange);
	}
}

