// ==================================================
// Mixins
// ==================================================

@mixin bg-opacity($color, $opacity: 0.5) {
	background-color: $color;
	background-color: rgba($color, $opacity);
}

@mixin list-reset {
	padding: 0;
	margin: 0;
	list-style: none;
}

// Images
// ==================================================

@mixin img-rounded($br: $border-radius) {
	border-radius: $br;
}

@mixin img-circle {
	@include img-rounded(50%);
}
