script(src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
script(src="/js/gallery.js")
