header(role="banner")
	.container
		a#logo(href="/") Tindeklub
		a#nav-toggle(href="#menu"): span.icon-menu
		if (user)
			a#user-profile(href="/user/profile")= user.name.first
		else
			a#login(href="/login") Log in

		nav#menu(role="navigation")
			a(href="#") Journal
			a(href="/gear") Gear
			a(href="#") Beta
