extends layouts/nobanner

block main
	main(role="main")
		article.home
			div
				.container
					h1 Tindeklub

					#slider.swipe
						.swipe-wrap
							for img in images
								div
									img(src=img.data)
						nav
							- var i = images.length
							- while(i--)
								a &bull;

					blockquote
						| I de svarte tinder
						br
						| finner den hvite snø
						br
						| evig hvile

					nav
						a(href="#") Journal
						|
						a(href="/gear") Gear
						|
						a(href="#") Beta

	include includes/footer

	script(src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/swipe/2.0/swipe.min.js")
	script.
		(function() {
			var nav = $('#slider').find('nav');

			nav.find('a').first().addClass('active');

			window.slider = new Swipe(document.getElementById('slider'), {
				callback: function(index, elem) {
					updateNav(index);
				}
			});

			nav.on('click', 'a', function(e) {
				var index = $(this).index();
				slider.slide(index, 300);
			});

			function updateNav(index) {
				nav.find('a').removeClass('active');
				nav.find('a').eq(index).addClass('active');
			}
		})(Zepto);
