extends layouts/nobanner

block main
	main(role="main")
		article.home
			div
				.container
					h1 Tindeklub

					figure
						img(src="/img/storen-small.jpg", title="Store Skagastølstind")

					blockquote
						| I de svarte tinder
						br
						| finner den hvite snø
						br
						| evig hvile

					nav
						a(href="#") Journal
						|
						a(href="/gear") Gear
						|
						a(href="#") Beta
	//.banner
		.site
			a(href="/") Tindeklub
		nav
			a(href="#") Journal
			a(href="/gear") Gear
			a(href="#") Beta


	include includes/footer
