doctype 5
html
	head
		include includes/head
	body
		header(role="banner")
			.container
				.branding
					a#logo(href="/") Tindeklub
		block content
		footer(role="contentinfo")
			.container
				p.copyright
					| Copyright &copy; Einar Uvsløkk
					br
					| All rights reserved
