extends ../layouts/default

block main
	article.user-profile
		header
			.container
				figure
					img(src=user.picture)
				.info
					h1= user.fullname
					h2: a(href="mailto:" + user.email)= user.email
					nav
						a(href="/logout") Log out
