{# gear_list.html #}
{# vim: set ts=2 sw=2 noai syntax=jinja: #}
{% extends "layout.html" %}

{% block content %}

<section id="gear-list">

	<table class="table table-condensed table-hover">
		<thead>
			<tr>
        <th>{{ _("Id") }}</th>
        <th>{{ _("Manufacturer") }}</th>
        <th>{{ _("Name") }}</th>
        <th>{{ _("Category") }}</th>
        <th>{{ _("Date of purchase") }}</th>
			</tr>
		</thead>
		<tbody>
			{% for item in gear_list %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.manufacturer }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.category }}</td>
					{% if item.date_of_purchase is not none -%}
						<td>{{ item.date_of_purchase.strftime('%Y-%m-%d') }}</td>
					{% else %}
						<td>?</td>
					{%- endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

</section>

{% endblock %}

