if gear.images.length
	- var placeholder = "data:image/;base64,/9j/4AAQSkZJRgABAQEAAQABAAD/2wBDAAMCAgICAgMCAgIDAwMDBAYEBAQEBAgGBgUGCQgKCgkICQkKDA8MCgsOCwkJDRENDg8QEBEQCgwSExIQEw8QEBD/wAALCAADAAQBAREA/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABQQAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQEAAD8AJT//2Q=="
	#images
		h2 Images
		#slider.img-gallery
			#wrapper.img-wrapper
				for img in gear.images
					img(data-imgsrc=img.versions.medium.rel, src=placeholder)

			nav
				for img in gear.images
					a(href=img.versions.medium.rel)
						img(src=img.versions.thumbnail.rel)
