if gear.images.length
	#images
		h2 Images
		#slider.img-gallery
			#wrapper.img-wrapper
				for img in gear.images
					img(data-imgsrc=img.versions.medium.rel)

			nav
				for img in gear.images
					a(href=img.versions.medium.rel)
						img(src=img.versions.thumbnail.rel)
