.block.light
	.container
		table
			thead
				tr
					th Name
					th Manufacturer
					th Category
					th State
					th
			tbody
				for gear in gearList
					tr
						td: a(href="#{'/gear/' + gear._id}")= gear.name
						td= gear.manufacturer
						td= fmt.str.capitalize(gear.category)
						td: span.label(data-state=gear.state)= fmt.str.capitalize(gear.state)
						td
							if gear.images.length
								span.icon-picture(title="Images")
							if gear.usage_log.length
								span.icon-usage-log(title="Usage log")


