extends ../layouts/default

block main
	article.gear-list
		header
			.container
				- var count = gearList.length
				- var text = count == 1 ? "item" : "items"
				h1 Gear list
				h2= count + " " + text

		include includes/list

		footer
			.container
				#actions
					a(href="/gear/new") New gear
