extends ../layouts/default

block main
	article.gear
		header
			.container
				h1= title
		.block
			.container
				#categories
					h2 Please select a category
					ul.category-list
						for obj, category in categories
							li: a(href="#{'/gear/new/' + category}")= fmt.str.capitalize(category)
