// ==================================================
// Tindeklub > Common
// ==================================================

article {
	> header,
	#user-form {
		background-color: $white;

		h1 {
			margin-bottom: 0;
		}

		h2 {
			color: $orange-dark;
			margin-top: 0;

			a {
				color: inherit;

				&:hover {
					color: $orange;
				}
			}
		}
	}
}

// Blocks for styling
// ==================================================

.block {
	background-color: transparent;
	border-width: 1px;
	border-style: solid none;
	border-color: transparent;

	&.light {
		background-color: darken($white, 7);
		border-color: darken($white, 10);
	}

	&.dark {
		color: $white;
		background-color: $block-bg-color-dark;
		border-color: transparent;
	}
}

