// ==================================================
// Tindeklub > Common
// ==================================================

article {
	> header {
		background-color: $white;

		h1 {
			margin-bottom: 0;
		}

		h2 {
			color: $orange-dark;
			margin-top: 0;

			a {
				color: inherit;

				&:hover {
					color: $orange;
				}
			}
		}
	}
}

// Blocks for styling
// ==================================================

.block {
	background-color: darken($white, 7);
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: $block-border-color;

	&.usage-log,
	&.images {
		color: $white;
		background-color: $block-bg-color-dark;
		border-color: transparent;
	}

	&.details {
		border-bottom-color: transparent;
	}

	&.user-form {
		background-color: transparent;
		border: none;
	}
}

