// ==================================================
// Tindeklub > Gear
// ==================================================

article[class*="gear"] {

	// Header
	// ==============================================

	> header {
		nav {
			a {
				font-family: $font-family-sans;
				padding: 0 ($padding-horizontal / 2);

				&:first-child {
					padding-left: 0;
				}
			}
		}
	}

	// Details
	// ==============================================

	#details {
		margin-bottom: em(20);
	}

	// Tech specs
	// ==============================================

	#tech-specs {
		input {
			&[type=text],
			&[type=number] {
				width: 90%;
			}
		}
	}

	// Usage log
	// ==============================================

	#usage-log {
		ul {
			@include list-reset;

			.entry {
				border-top: 1px solid rgba($white, .05);
				border-bottom: 1px solid rgba($black, .3);
				padding: em(10);

				.meta {
					margin-bottom: em(10);
					font-style: italic;
					font-size: .9em;
					color: #666;

					a {
						color: inherit;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				&:first-child {
					border-top: none;
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}

		form {
			padding-top: em(20);

			input {
			}

			textarea,
			input[type=text] {
				background-color: $input-bg-color-dark;
				border-color: $input-border-color-dark;
				color: $white;
			}

			input[type=text] {
			}
		}
	}

	// Actions
	// ==============================================

	#actions {
		a {
			@include button;
		}
	}

	// Image gallery
	// ==============================================

	#img-gallery {
		position: relative;

		#img-container {
			position: relative;
			overflow: hidden;
			margin: 0 auto .5em;
			background-color: $input-bg-color-dark;
			border: 1px solid $input-border-color-dark;

			img {
				display: block;
				width: 100%;
				box-sizing: border-box;
			}

			#img-list {
				position: relative;
				left: 0;
				width: 100%;

				ul {
					@include list-reset;
				}
			}
		}

		nav {
			overflow: hidden;
			display: inline-block;

			ul {
				@include list-reset;
			}

			li {
				border: 1px solid $input-border-color-dark;
				transition: all .3s ease-out;

				&:hover,
				&:focus {
					border-color: $blue;
				}

				&.active {
					border-color: $orange-dark;
				}
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	// Units
	// ==============================================

	.unit {
		margin-left: em(3);
		&[title] {
			cursor: help;
		}
	}

	// Category list
	// ==============================================

	.gear-categories,
	.category-list {
		li {
			a {
				display: block;
				@include button;
			}
		}
	}
}

