// ==================================================
// Tindeklub > Gear
// ==================================================

article[class*="gear"] {

	// Header
	// ==============================================

	> header {
		nav {
			a {
				font-family: $font-family-sans;
				padding: 0 ($padding-horizontal / 2);

				&:first-child {
					padding-left: 0;
				}
			}
		}
	}

	// Details
	// ==============================================

	#details {
		margin-bottom: em(20);
	}

	// Tech specs
	// ==============================================

	#tech-specs {
		input {
			&[type=text],
			&[type=number] {
				width: 90%;
			}
		}
	}

	// Usage log
	// ==============================================

	#usage-log {
		ul {
			@include list-reset;

			.entry {
				border-top: 1px solid rgba($white, .05);
				border-bottom: 1px solid rgba($black, .3);
				padding: em(10);

				.meta {
					margin-bottom: em(10);
					font-style: italic;
					font-size: .9em;
					color: #666;

					a {
						color: inherit;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				&:first-child {
					border-top: none;
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}

		form {
			padding-top: em(20);

			input {
			}

			textarea,
			input[type=text] {
				background-color: $input-bg-color-dark;
				border-color: $input-border-color-dark;
				color: $white;
			}

			input[type=text] {
			}
		}
	}

	// Actions
	// ==============================================

	#actions {
		a {
			@include button;
		}

		input[type="number"] {
			display: inline-block;
			width: em(70);
			margin: 0 em(10);
		}
	}

	// Units
	// ==============================================

	.unit {
		margin-left: em(3);
		&[title] {
			cursor: help;
		}
	}

	// Category list
	// ==============================================

	.gear-categories,
	.category-list {
		li {
			a {
				display: block;
				@include button;
			}
		}
	}
}

article[class="gear-list"] {
	table {
		th,
		td {
			// Hide columns based on table cell indexes:
			//
			//   1 - Name
			//   2 - Manufacturer
			//   3 - Category
			//   4 - State
			//   5 - Icons
			//
			&:nth-child(2),
			&:nth-child(5) {
				display: none;
			}

			@include media($mobile-landscape) {
				&:nth-child(2) {
					display: table-cell;
				}
			}

			@include media($tablet) {
				&:nth-child(5) {
					display: table-cell;
				}
			}

		}
	}
}

