// ==================================================
// Tindeklub > Header & Footer
// ==================================================

.js nav[role=navigation] {
	overflow: hidden;
	max-height: 0;
}

// Header
header[role=banner] {
	font-family: $font-family-sans;
	background-color: lighten($black, 10);
	color: $white;

	.container {
		@include outer-container;
		@include pad(0 default);
	}

	a {
		color: inherit;
		font-size: 1.0em;
		padding: ($padding-vertical / 2);

		&#logo {
			padding-right: ($padding-vertical * 2);
			font-weight: bold;
			float: left;
		}

		&#login,
		&#logout,
		&#user-profile {
			float: right;

			&:after {
				content: "|";
				padding-left: $padding-vertical;
				color: #444;
			}
		}

		&#nav-toggle {
			float: right;
			display: block;

			&.active {
				background-color: #444;
			}
		}
	}

	nav[role=navigation] {
		clear: both;

		&.active {
			max-height: 15em;
		}

		a {
			display: block;
			border-top: 1px solid #444;

			&:hover {
				background-color: #222;
			}

			&:after {
				content: "»";
				float: right;
			}
		}
	}
}

// Footer
footer[role=contentinfo] {
	.copyright {
		text-align: center;
		font-size: 0.9em;
	}
}

@media screen and (min-width: 48.25em) {
	.js nav[role=navigation] {
		max-height: none;
	}

	header[role=banner] {
		a {
			&#login,
			&#logout,
			&#user-profile {
				&:after {
					content: none;
				}
			}

			&#nav-toggle {
				display: none;
			}
		}

		nav[role=navigation] {
			display: inline;

			a {
				display: inline-block;
				border: none;

				&:after {
					content: "|";
					padding-left: ($padding-vertical);
					color: #444;
				}

				&:last-child {
					&:after {
						content: none;
					}
				}
			}

		}
	}
}
