// ==============================================
// Tindeklub > Image gallery
// ==============================================

.img-gallery {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	width: 100%;
	margin: 0 auto;

	.img-wrapper {
		overflow: hidden;
		position: relative;

		> img {
			position: relative;
			float: left;
			width: 100%;
			height: auto;
			//border: 1px solid #1a1a1a;
			background-color: $input-bg-color-dark;
		}
	}

	nav {
		@include outer-container;
		@include pad(default 0);

		a {
			@include span-columns(2);
			@include omega(6n);

			max-width: 128px;
			border-bottom: 2px solid;
			border-color: $input-border-color-dark;
			background-color: $input-bg-color-dark;
			transition: all .3s ease-out;

			&:hover {
				border-color: $blue;
			}

			&.active {
				border-color: $orange-dark;
			}

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}


